---
import Map from "../components/Map.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Tree Coverage 2020" />
		<link
			href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css"
			rel="stylesheet"
		/>
		<link
			href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css"
			rel="stylesheet"
		/>
		<title>Tree Coverage Map</title>
	</head>
	<body>
		<Map />
	</body>
</html>
